.privacy-container {
	padding-bottom: 4rem;

	.ol-index {
		margin: 2rem 0;
	}

	.ol-content {
		li {
			margin-bottom: 1rem;
		}
	}

	.li-heading {
		font-weight: 600;
		margin-bottom: 0;
	}

	.bottom-info {
		margin-top: 2rem;
	}
}
