.container-pages {
	padding: 4rem;

	h4 {
		padding-bottom: 2rem;
	}

	p,
	h4 {
		text-align: center;
	}

	img {
		display: block;
		width: 21rem;
		height: 8rem;
		margin: auto;
	}

	.link {
		display: block;
		text-align: center;
	}

	.link_two {
		display: block;
		text-align: center;
		margin-top: 2rem;
	}
}
