.footer {
	width: 100%;
	padding: 4rem;

	.left {
		display: flex;
		align-items: center;

		.badges {
			.androidBadge {
				width: 183px;
				height: 71px;
				pointer-events: none;
				user-select: none;
			}
			
			.iosBadge {
				width: 150px;
				height: 48px;
				border-radius: 13px;
				pointer-events: none;
				user-select: none;
			}
		}
	}

	.right {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

		.kofi {
			border: 0px;
			height: 36px;
			margin-left: 2rem;
			pointer-events: none;
			user-select: none;
		}

		.links {
			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
			}
		}

	}
}