.page-container {
	padding: 4rem;

	h4 {
		padding-bottom: 2rem;
		text-align: center;
	}

	p {
		text-align: center;
	}

	.link_home_w,
	.link_home_dw {
		margin-left: 5px;
		margin-right: 5px;
	}

	.link_home_contact {
		display: block;
		text-align: center;
	}
}
