.weatherly {
	width: 80%;

	.row {
		min-height: 100vh
	}

	.landing {
		min-height: calc(100vh - 170px) !important;

		.left {
			margin-top: 5rem;

			.app-title {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 2rem;

				img {
					width: 80px;
					height: 80px;
					border-radius: 20px;
					margin-right: 1rem;
				}
	
				h1 {
					font-size: 5rem;
					margin: 0;
				}
			}
	
			p {
				font-size: 20px;
				margin-bottom: 4rem;
			}

			.badges {
				display: flex;
		
				.androidBadge {
					width: 314px;
					height: 124px;
					display: inline-block;
				}
				
				.iosBadge {
					display: inline-block;
					width: 250px;
					height: 83px;
					margin-top: 1.2rem;
					border-radius: 13px;
					overflow: hidden;
				}
			}
		}

		.landing-img {
			height: 35rem;
			width: 15rem;
		}
	}

	.about {
		img {
			height: 45rem;
			width: 35rem;
		}
	}

	.features {
		img {
			height: 40rem;
			width: 19.5rem;
		}
	}
}
