nav {
	margin-bottom: 4rem;

	img {
		width: 100px;
		height: 80px;
		margin-left: 2rem;
	}

	.nav-item {
		margin-right: 2rem;
	}

	button {
		background: transparent;
		border: none;
	}

	.dropdown-menu {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
